<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <form method="POST" action="/strategy/">
            <label>Select an Options Strategy</label>
            {% csrf_token %}
        <select id="the-id" name="selected-strategy">
            {% for i in strategies %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
        <label>The stock price is <b>{{ price }}</b></label>
    </form>
    <table style="float: left;">
        <thead>
        <tr>
            <th>Strike</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Volume</th>
            <th>Open Int.</th>
            <th>Implied Volatility</th>
        </tr>
        </thead>
        <tbody>
        {% for i in calls %}
            <tr> {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}</tr>
        {% endfor %}
        </tbody>
    </table>
    <table style="float: left;">
        <thead>
        <tr>
            <th>Strike</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Volume</th>
            <th>Open Int.</th>
            <th>Implied Volatility</th>
        </tr>
        </thead>
        <tbody>
        {% for i in puts %}
            <tr> {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}</tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>