{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="/static/optionsPF/script.js"> </script>
</head>
<body>
<form action="/covered_call/" method="post">
    {% csrf_token %}
    <div data-url="{% url 'get-covered-call' %}" class="url-covered-call"> </div>
    <input type="hidden" name="selected-strategy" value={{ strategy|safe }}>
    <input type="hidden" name="selected-ticker" value={{ ticker }}>
    <input type="hidden" name="selected-expiry" value={{ date }}>
    <input type="hidden" id="selected-last-price" name="last-price" value=0>
    <div class="form-group form-inline">
        <label>The stock price is &nbsp <b>{{ price }} &nbsp &nbsp </b></label>
        <label> Select a Strike Price For Your Call &nbsp &nbsp</label>
        <label>
            <input type="text" name="strike-price" class="strikeClass">
        </label>
        <button type="submit" onclick="get_last_price()">Submit</button>
    </div>
    <table style="float: left;" class="call-table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Calls</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>Strike</th>
            <th>Last Price</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Volume</th>
            <th>Open Int.</th>
            <th>Implied Volatility</th>
        </tr>
        </thead>
        <tbody>
        {% for i in calls %}
            <tr> {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}</tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <table style="float: left;" id="put-table">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Puts</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>Strike</th>
            <th>Last Price</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Volume</th>
            <th>Open Int.</th>
            <th>Implied Volatility</th>
        </tr>
        </thead>
        <tbody>
        {% for i in puts %}
            <tr> {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}</tr>
        {% endfor %}
        </tbody>
    </table>
</form>
</body>
</html>
