<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/strategy/">
    <div class="form-group form-inline">
        <label>The stock price is &nbsp <b>{{ price }} &nbsp &nbsp </b></label>
        <label> Select a Strike Price For Your Call &nbsp &nbsp</label><input type="text" name="strike-price">
    </div>
    <table style="float: left;">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Calls</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>Strike</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Volume</th>
            <th>Open Int.</th>
            <th>Implied Volatility</th>
        </tr>
        </thead>
        <tbody>
        {% for i in calls %}
            <tr> {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}</tr>
        {% endfor %}
        </tbody>
    </table>
    <table style="float: left;">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>Puts</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <th>Strike</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Volume</th>
            <th>Open Int.</th>
            <th>Implied Volatility</th>
        </tr>
        </thead>
        <tbody>
        {% for i in puts %}
            <tr> {% for j in i %}
                <td>{{ j }}</td>
                {% endfor %}</tr>
        {% endfor %}
        </tbody>
    </table>
        </form>
</body>
</html>