<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<form method="POST" action="/search/">
    {% csrf_token %}
    <div class="input-group">
      <span class="input-group-text">Selected Ticker</span>
      <input type="text" aria-label="First name" class="form-control"
             name="textfield" value={{ ticker }} readonly class="form-control-plaintext">
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Select an Expiry Date</label>
        <select id="inputGroupSelect01" name="selected-date" class="form-select">
            {% for i in option_expiry_dates_list %}
                {% if forloop.first %}
                    <option selected value="{{ i }}">{{ i }}</option>
                {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Select an Options Strategy</label>
        <select id="inputGroupSelect01" name="selected-strategy" class="form-select">
            {% for i in strategies %}
                {% if forloop.first %}
                    <option selected value="{{ i }}">{{ i }}</option>
                {% else %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</body>
</html>