<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<label>Enter a Stock Ticker</label>
    <form method="POST" action="/search/">
        {% csrf_token %}
        <input type="text" name="textfield" value= {{ ticker }}>
    <label>Select An Expiry Date</label>
        <select id="the-id" name="selected-date">
            {% for i in option_expiry_dates_list %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select class="custom-select-sm">
                <label>Select an Options Strategy</label>
            {% csrf_token %}
        <select id="the-id" name="selected-strategy">
            {% for i in strategies %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>