<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
        <table class="table table-hover">
        <thead>
        <th>Strike</th>
        <th>Purchase Price</th>
        <th>Purchase Date</th>
        <th>Expiry Date</th>
        <th>Contract Size</th>
        <th>Ticker</th>
        <th>Strategy</th>
        </thead>
        <tbody>
                <tr>
                    <td> {{ 0f3a923a-2478-4efa-ae80-327802ffc4bc }} </td>
                </tr>
        </tbody>
    </table>
{% endblock %}
</body>
</html>