{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation/dist/chartjs-plugin-annotation.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script type="module" src="/static/optionsPF/charts.js"></script>
    <style>
        .navbar {
            margin-left: 10px;
        }

        html {
            height: 100%;
        }

        body {
            height: 100%;
        }

        .navbar {
            border-bottom: 2px solid #3f4b5b;
        }

        #form-table {
            height: 85%;
        }

        @media (max-width: 576px) {
            .xs {
                color: red;
                font-weight: bold;
            }
        }

        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) and (max-width: 768px) {
            .sm {
                color: red;
                font-weight: bold;
            }
        }

        /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
        @media (min-width: 768px) and (max-width: 992px) {
            .md {
                color: red;
                font-weight: bold;
            }
        }

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) and (max-width: 1200px) {
            .lg {
                color: red;
                font-weight: bold;
            }
        }

        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
            .xl {
                color: red;
                font-weight: bold;
            }
        }

    </style>
</head>
<body>
<nav class="navbar navbar-light navbar-expand-md bg-faded">
    <div class="container-fluid">
        <a href="/" class="navbar-brand d-flex w-90 mr-auto">Options Portfolio Builder</a>
        </button>
        <ul class="nav navbar-nav navbar-right ">
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a class="navbar-brand " href="">
                        <img src="/static/optionsPF/key-icon.svg" alt="" width="20" height="20"
                             class="d-inline-block align-text-top">
                        <span></span> {{ user.username }}
                    </a>
                {% else %}
                    <a class="navbar-brand " href="login">
                        <img src="/static/optionsPF/key-icon.svg" alt="" width="20" height="20"
                             class="d-inline-block align-text-top">
                        <span></span> Log In
                    </a>
                {% endif %}
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="navbar-brand" href="portfolio" id="portfolio-authenticated">
                        <img src="/static/optionsPF/portfolio-icon.svg" alt="" width="20" height="20"
                             class="d-inline-block align-text-top">
                        <span></span> Portfolio
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="navbar-brand " href="/login" id="portfolio-unauthenticated"
                       onclick="add_unauthenticated_info()">
                        <img src="/static/optionsPF/portfolio-icon.svg" alt="" width="20" height="20"
                             class="d-inline-block align-text-top">
                        <span></span> Portfolio
                    </a>
                </li>
            {% endif %}
        </ul>

    </div>
</nav>


<form method="POST" action="/search/" id="form-table">
    {% csrf_token %}
    <div class="container">

    <div class="row">
        <div class="col mb-4">
            <div class="card mx-lg-5 " style="width: 26rem;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" onclick="">Long Call</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="#">Short Call</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="#">Long Put</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="#">Long Put</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="card chart-container" style="position: relative; height:26vh">
                        <canvas id="chart1"></canvas>
                    </div>
                    <h6 class="card-title">Long Call Butterfly Spread</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk
                        of
                        the card's content.</p>
                    <button type="submit" class="btn btn-primary" name="butterfly-button">Select</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card mx-lg-5" style="width: 25rem;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" onclick="">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1"
                               aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="card chart-container" style="position: relative; height:26vh;">
                        <canvas id="chart2"></canvas>
                    </div>
                    <h5 class="card-title">Iron Condor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <button type="submit" class="btn btn-primary" name="condor-button">Select</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card mx-lg-5 " style="width: 25rem;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1"
                               aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="card chart-container" style="position: relative; height:26vh;">
                        <canvas id="chart2"></canvas>
                    </div>
                    <h5 class="card-title">Iron Condor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <button type="submit" class="btn btn-primary" name="condor-button">Select</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card mx-lg-5" style="width: 25rem;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1"
                               aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="card chart-container" style="position: relative; height:26vh">
                        <canvas id="chart1"></canvas>
                    </div>
                    <h6 class="card-title">Long Call Butterfly Spread</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the
                        bulk
                        of
                        the card's content.</p>
                    <button type="submit" class="btn btn-primary" name="butterfly-button">Select</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card mx-lg-5" style="width: 25rem;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1"
                               aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="card mx-3" style="position: relative; height:26vh;">
                        <canvas id="chart2"></canvas>
                    </div>
                    <h5 class="card-title">Iron Condor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <button type="submit" class="btn btn-primary" name="condor-button">Select</button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card mx-lg-5" style="width: 25rem;">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1"
                               aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="card chart-container" style="position: relative; height:26vh;">
                        <canvas id="chart2"></canvas>
                    </div>
                    <h5 class="card-title">Iron Condor</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk
                        of
                        the card's content.</p>
                    <button type="submit" class="btn btn-primary" name="condor-button">Select</button>
                </div>
            </div>
        </div>
        <div>
    </div>
    <input type="hidden" name="selected-ticker" value={{ ticker }}>
    <input type="hidden" name="selected-expiry" value={{ date }}>
    {% csrf_token %}
    </div>
    </div>
</form>
</body>
</html>