<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>Success!</label>
        <table class="contract-table">
            <thead>
            <th>Strike</th>
            <th>Purchase Price</th>
            <th>Purchase Date</th>
            <th>Expiry Date</th>
            <th>Contract Size</th>
            <th>Ticker</th>
            <th>Strategy</th>
            </thead>
        <tbody>
        <tr>
            <td>{{ strike }}</td>
            <td>{{ contract_price }}</td>
            <td>{{ purchase_date }}</td>
            <td>{{ expiry_date }}</td>
            <td>{{ num_contracts }}</td>
            <td>{{ ticker }}</td>
            <td>{{ strategy }}</td>
        </tr>
        </tbody>
            </table>
        {% if user.is_authenticated %}
            <p>Add this strategy to your portfolio</p>
        {% else %}
            <p>To Track This Strategy in Your Portfolio, Create an Account <a href="/register">here</a></p>
        {% endif %}
</body>
</html>