{% extends "optionsPF/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <table class="table table-hover">
        <thead>
        <th>Strike</th>
        <th>Purchase Price</th>
        <th>Purchase Date</th>
        <th>Expiry Date</th>
        <th>Contract Size</th>
        <th>Ticker</th>
        <th>Strategy</th>
        </thead>
        <tbody>
        <tr>
            <td>{{ strike }}</td>
            <td>{{ contract_price }}</td>
            <td>{{ purchase_date }}</td>
            <td>{{ expiry_date }}</td>
            <td>{{ num_contracts }}</td>
            <td>{{ ticker }}</td>
            <td>{{ strategy }}</td>
        </tr>
        </tbody>
    </table>
    {% if user.is_authenticated %}
        <p>Add this strategy to your portfolio</p>
    {% else %}
        <form method="post" action="/pre_login/">
            {% csrf_token %}
            <input type="hidden" value={{ id }} name="contract-id">
            <input type="hidden" value={{ backLink }} name="referral-link">
            <p>To Track This Strategy in Your Portfolio, Create an Account <a href="/register">here</a></p>
            <p>If You Have an Existing Account, <button type="submit">Login In</button></p>
        </form>
    {% endif %}
{% endblock %}

</body>
</html>